.button {
    margin: 40px;
    padding: 6px 20px;
    color: white;
    background-color: #1A1F45;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s ease-in-out;
    font-weight: 700;
}
.button:hover{
    margin: 40px;
    padding: 6px 20px;
    border: 2px solid #1A1F45;
    background-color: white;
    transition: all 0.4s ease-in-out;
    color: #1A1F45;
    font-weight: 700;
    cursor: pointer;
}
.awssld {
    --organic-arrow-thickness: 4px;
    --organic-arrow-height: 40px;
    --slider-height-percentage: 60%;
    --loader-bar-color: #851515;
    --loader-bar-height: 6px;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-opacity: 0.5;
    --control-button-hover-opacity: 0.75;
    --control-button-background: transparent;
    --transition-bezier: cubic-bezier(0.5, 0.075, 0.25, 0.95);
    --slider-transition-duration: 575ms;
    --organic-arrow-color: #6a6a6a;
    --organic-arrow-border-radius: 0;
    --control-bullet-color: #6a6a6a;
    --control-bullet-active-color: #6a6a6a;
    --content-background-color: white!important;
}