


.header{
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navigation{
    position: relative;
}
.hamburger{
    display: none;
}
.MobileMenu{
    position: fixed;
    left: 0;
    right: 0;
    background-color: rgb(7, 7, 46);
    top: 85px;
    border: 1px solid black;
    width: 90%;
    margin: 0 auto;
    transition: all 0.6s ease-in-out;
    transform: translateY(-200%);
}
.MobileMenu.activeheader{
    transition: all 0.6s ease-in-out;
    transform: translateY(0%);
}



/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .DesktopMenu{
        display: none;
    }
    .hamburger{
        display: block;
    }

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .DesktopMenu{
        display: none;
    }
    .hamburger{
        display: block;
    }

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .DesktopMenu{
        display: none;
    }
    .hamburger{
        display: block;
    }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}
/*x-large devices (dekstops,1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    
}

/*Extra extra  large devices (larges desktops, 1200px and up)*/
@media (min-width: 1400px) {

}